/* welcome */
.welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding-top: 90px;
}

.welcome-left {
  margin: auto;
  width: 90%;
}

.welcome-right {
  margin: auto;
}

.welcome-title {
  font-size: 70px;
  font-weight: bold;
  color: #a4c3b2;
  text-shadow: 0 0 10px #fff;
}

.welcome-description {
  font-size: 30px;
  font-weight: bold;
  color: #fff;
}

.welcome-img {
  width: 450px;
  border-radius: 20px;
  box-shadow: 0 4px 15px 0 #fff;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1100px) {
  .welcome {
    padding-top: 60px;
  }

  .welcome-title {
    font-size: 65px;
    font-weight: bold;
    color: #a4c3b2;
    text-shadow: 0 0 10px #fff;
  }

  .welcome-description {
    font-size: 25px;
    font-weight: bold;
    color: #fff;
  }

  .welcome-img {
    width: 370px;
  }
}

@media (max-width: 800px) {
  .welcome {
    display: grid;
    padding-top: 20px;
  }
}

/* mission */
.mission {
  padding: 50px;
  background-color: #b09384;
  border-radius: 20px;
}

.mission-title {
  font-size: 60px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 50px;
  text-align: center;
}

.mission-content {
  display: grid;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 50px;
}

.who {
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 90%;
}

.who-title {
  font-size: 40px;
  font-weight: bold;
  color: #b892ff;
  margin-bottom: 20px;
  text-align: left;
  padding: 15px 20px;
  background-color: #fff;
  border-radius: 20px;
  width: 225px;
}

.who-description {
  font-size: 20px;
  color: black;
  text-align: left;
  padding: 30px;
  background-color: #a4c3b2;
  border-radius: 20px;
}

.goals {
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 90%;
}

.goals-title {
  font-size: 40px;
  font-weight: bold;
  color: #b892ff;
  margin-bottom: 20px;
  text-align: left;
  padding: 15px 20px;
  background-color: #fff;
  border-radius: 20px;
  width: 170px;
}

.goals-description {
  font-size: 20px;
  color: black;
  text-align: left;
  padding: 30px;
  background-color: #a4c3b2;
  border-radius: 20px;
  padding-left: 50px;
}

@media (max-width: 1100px) {
  .mission {
    padding: 40px 30px;
  }

  .who-title {
    font-size: 35px;
    width: 200px;
  }

  .who-description {
    font-size: 19px;
    padding: 25px;
  }

  .goals-title {
    font-size: 35px;
    width: 155px;
  }

  .goals-description {
    font-size: 19px;
    padding: 25px;
    padding-left: 40px;
  }
}

@media (max-width: 800px) {
  .mission {
    padding: 40px 20px;
    width: 80%;
  }

  .mission-title {
    font-size: 50px;
  }

  .who-title {
    font-size: 30px;
    width: 170px;
  }

  .who-description {
    font-size: 18px;
    padding: 20px;
  }

  .goals-title {
    font-size: 30px;
    width: 130px;
  }

  .goals-description {
    font-size: 18px;
    padding: 20px;
    padding-left: 35px;
  }
}

/* blog */
.blog {
  padding: 50px;
  background-color: #a4c3b2;
  border-radius: 20px;
}

.blog-title {
  font-size: 60px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 50px;
  text-align: center;
}

.blog-post {
  padding: 40px;
  background-color: #b09384;
  border-radius: 20px;
}

.blog-post-title {
  margin-bottom: 5px;
  font-size: 20px;
}

.blog-post-info {
  margin-bottom: 20px;
  font-size: 18px;
}

.blog-break {
  background-color: black;
  margin-bottom: 20px;
  border: none;
  height: 1px;
  border-radius: 20px;
}

.blog-post-description {
  font-size: 18px;
}
