.resource-title {
  font-size: 60px;
  font-weight: bold;
  color: #a4c3b2;
  margin-top: 180px;
  margin-bottom: 60px;
  text-align: center;
}

.resources-content-grid {
  display: grid;
  gap: 50px;
}
.resources-content {
  padding: 50px;
  background-color: #b7a28f;
  border-radius: 20px;
}

.resource {
  padding: 40px 40px 40px 0;
  background-color: white;
  border-radius: 20px;
  margin: auto;
  transition: opacity 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.resource-title-text {
  margin-bottom: 5px;
  font-size: 25px;
  font-family: "Abhaya Libre", serif;
  font-weight: bold;
}

.resource-title-text:hover {
  text-decoration: underline;
}
