/* team */
.team-title {
  font-size: 60px;
  font-weight: bold;
  color: #a4c3b2;
  margin-top: 180px;
  margin-bottom: 60px;
  text-align: center;
}

.team-content {
  align-items: flex-start;
  justify-content: flex-start;
  display: grid;
  gap: 50px;
  border-radius: 20px;
  margin: auto;
}

.team-member {
  padding: 50px;
  background-color: #b7a28f;
  border-radius: 20px;
}

.team-member-content {
  padding: 40px 40px 40px 0;
  background-color: white;
  border-radius: 20px;
  margin: auto;
  transition: opacity 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.team-member-left {
  width: 50%;
}

.team-member-img {
  height: 500px;
  display: block;
  margin: auto;
}

.team-member-right {
  width: 50%;
}

.team-member-title {
  margin-bottom: 5px;
  font-size: 20px;
}

.team-member-info {
  margin-bottom: 20px;
  font-size: 20px;
}

.team-break {
  background-color: black;
  margin-bottom: 20px;
  border: none;
  height: 1px;
  border-radius: 20px;
}

.team-member-description {
  font-size: 18px;
}

@media (max-width: 1100px) {
  .team {
    padding: 0 30px;
  }

  .team-content {
    padding: 40px;
  }

  .team-member {
    padding: 35px;
    transition: opacity 0.5s;
  }

  .team-member-img {
    height: 350px;
  }

  .team-member-title {
    font-size: 18px;
  }
}

@media (max-width: 950px) {
  .team {
    padding: 0;
    width: 88%;
  }

  .team-content {
    padding: 0;
  }

  .team-member-content {
    transition: opacity 0.5s;
    display: grid;
    padding: 25px;
  }

  .team-member-left {
    width: 100%;
    margin-bottom: 30px;
  }

  .team-member-right {
    width: 100%;
  }

  .team-title {
    font-size: 50px;
    margin-top: 135px;
  }

  .team-member {
    padding: 28px 25px;
  }
}
